SymfonyContrib\Bundle\VotingBundle\Entity\Result:
    type: entity
    table: voting_result
    repositoryClass: SymfonyContrib\Bundle\VotingBundle\Entity\Repository\ResultRepository
    id:
        id:
            type: string
            length: 36
            generator:
                strategy: UUID
    fields:
        key:
            column: vote_key
            type: string
            length: 255
        value:
            column: result_value
            type: float
        valueType:
            column: result_value_type
            type: string
            length: 24
        method:
            column: result_method
            type: string
            length: 24
        created:
            type: datetime
